{% extends "base.html" %}

{% block toolbar_left %}
<a href="{% url 'user_roles' %}" class="btn">User Roles</a>
{% if user_role == 'President' or user_role == 'Vice President' or user_role == 'Auditor' %}
<a href="{% url 'audit_log' %}" class="btn">Audit Log</a>
{% endif %}
{% if user_role == 'President' or user_role == 'Vice President' %}
<a href="{% url 'periods' %}" class="btn">Periods</a>
<a href="{% url 'po_approvals' %}" class="btn">
    PO Approvals{% if pending_approvals %} ({{ pending_approvals }}){% endif %}
</a>
{% endif %}
{% endblock %}

{% block menu_title %}Company Main Menu{% endblock %}
